/* COLORS */
$slate: #4C4754;
$mint-gray: #f4f6f9;;
$white: #FFF;
$sky-blue: #90a1ff;
$yellow: #ecff8e;
$black: #333;
$random: rgba(random(180)+75,random(180)+75,random(180)+75,1);

$background-color: $mint-gray;
$accent-color: $sky-blue;

/* FONTS */
$header-font: "Inter", "Helvetica Neue", "Sans-serif";
$body-font: "Inter", "Helvetica Neue", "Sans-serif";

/* BREAKPOINTS */
$end-mobile: 767px;
$start-tablet-portrait: 768px;
$end-tablet-portrait: 1023px;
$start-tablet-landscape: 1024px;
$end-tablet-landscape: 1279px;
$start-desktop: 1280px;

/* TRANSITION */
@mixin transition($duration: false) {
  @if $duration {
    transition: $duration ease-in-out;
  } @else {
    transition: 140ms ease-in-out;
  }
}

@mixin tablet-portrait() {
  @media screen and (min-width: $start-tablet-portrait) {
    @content;
  }
}

@mixin tablet-landscape() {
  @media screen and (min-width: $start-tablet-landscape) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: $start-desktop) {
    @content;
  }
}